<!-- Comments Start -->
<!--
PROGRAM backToTop.ejs - for the back-to-top button
PROGRAMMER: Li Danli Lily
VERSION 1: written 12-4-2017
PURPOSE: back-to-top button is for conveniently getting back to top by clicking the button
         We add this file in order to avoid redundancy as much as possible
-->
<!-- Comments End -->

    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <span class="glyphicon glyphicon-chevron-up"></span></a>