<!-- Comments Start -->
<!--
PROGRAM error.ejs - For error messages
PROGRAMMER: Liu Yide Kevin
VERSION 1: written 12-4-2017
PURPOSE: This is an .ejs file aiming at connecting back-end error status with front-end error messages 
         We add this file in order to avoid redundancy as much as possible
-->
<!-- Comments End -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
