<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/pageBarLogo.png">

    <title>PlanIt - Start a whole new journey with us!</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- Script -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/backToTop.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>
<style>
body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 15px;
    border: 5px;
}


/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}


.parallel-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 0;
    list-style: none;
}

.parallel-nav li{
    display: inline;
}

.parallel-nav li a{
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 20px;
    padding-left: 10%;
}

.parallel-nav li a:hover{
    background: SandyBrown;
    border-radius: 10px;
}



.btn{
      background-color: white; 
    color: black; 
    border: 2px solid MediumAquaMarine;
}

.btn:hover {
    background-color: MediumAquaMarine;
    color: white;
}

.btn-past{
    background-color: MediumAquaMarine;
    color: white;
    border: 2px solid MediumAquaMarine;
}

.btn-past:hover{
    background-color: white; 
    color: black; 
    border: 2px solid MediumAquaMarine;
}

.intro-text {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}


#page-content-wrapper h2{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

#page-content-wrapper hr{
  width: 90%;
}

.img-full {
    min-width: 80%;
}


.img-border {
    float: none;
    margin: auto;
    border: #999999 solid 1px;
}

.team-member h4{
    margin: 25px 0px 0px 110px;
}

.team-member img{
  margin: 50px auto;
  height: 220px;
  width: 220px;
}

footer {
  padding: 25px 0;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
      color:orange;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}


.portfolio-box {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 25px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 35px;
  }
}
.header-container{
  width:100%;
  height:600px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}
.video-container1{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}

video{
  position:absolute;
  z-index:-1;
  opacity:0.85;
  width:100%;
  volume:0;
}

.logo-container{
  width:130px;
  top:0;
  left:0;
}

h1{
  color:#fca13f;
  z-index:1;
  text-align:center;
  margin-right:auto;;
  margin-left: auto;
  margin-top: 15%;
  border:3px ;
  border-radius:15px;
  width:700px;
  letter-spacing: 3px;
  font-size: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.instagram-content {
    h3 {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        padding: $padding*5 0;
        color: darken($lightgrey, 20%);
    }
 
}
.photo-box {
        margin: 0 0 $margin*3 0;

        .image-wrap {
            img {
                width: 100%;
            }
 
            .likes {
                position: absolute;
                bottom: 5px;
                left: 15px;
                padding: $padding/2;
                background: $black;
                background: rgba($black, 0.4);
                color: $white;
            }
        }
        .description {
            font-family: $sub-font;
            font-size: 12px;
            background: $white;
            color: $mediumgrey;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

</style>


<body id="page-top" class="index">

    <%- include navBar.ejs -%>

    <!-- Header -->
    <div class="header-container">
      <div class="video-container1">
          <video id="myVideo" preload autoplay loop volume="0" height="600" muted="">
          <!--<source src = "video/concert1.mp4#t=15" type="video/mp4" muted>-->
          <source src = "video/concert1.mp4" type="video/mp4" muted>
          </video>
          <br>
      </div>
    </div>
    <!-- End Header -->


    <br>
    <br>

    <!-- Portfolio Grid Section -->
    <section id="explore" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: #f7ba34">Explore</h2>
                    <h3 class="section-subheading text-muted">Enrich your life with colorful experiences!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/music" class="portfolio-link" data-toggle="modal"> 
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/concert.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Music and Arts</h4>
                        <p class="text-muted">
                        If music and arts be the food of love, play on.<br>
                        --- William Shakespeare
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/sports" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/sport.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Sports</h4>
                      <p class="text-muted">
                          Winners never quit and quitters never win.<br>
                          --- Vince Lombardi
                      </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/tech" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/tech.jpg" height="80%" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Science and Technology</h4>
                      <p class="text-muted">
                          Technology has to be invented or adopted. <br>
                          --- Jared Diamond
                      </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/culture" class="portfolio-link" data-toggle="modal"> 
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/culture.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Culture</h4>
                        <p class="text-muted">
                            What does culture want? To make infinity comprehensible. <br>
                             --- Umberto Eco
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/movies" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/movie.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Movies</h4>
                      <p class="text-muted">
                          Every time I go to a movie, it's magic, no matter what the movie's about.<br>
                          --- Steven Spielburg
                      </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="explore/others" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/images/homepage/other.jpg" height="80%" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Other Activities</h4>
                      <p class="text-muted">
                          Look around you. Life is a gift and today will always be the day to enjoy it. <br>
                          --- Jane Jackson
                      </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <!-- Schedule section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: #487bb4">Schedule</h2>
                    <h3 class="section-subheading text-muted">Achieve more with better time management!</h3>
                </div>
            </div>
            <br>

            <div class="row">



                <div class="col-md-4 col-sm-6 portfolio-item">

                        <img src="/images/homepage/day.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Daily Plan</h4>
                      <p class="text-muted">
                       Check your to-do-list today conveniently
                      </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/images/homepage/week.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Weekly Plan</h4>
                      <p class="text-muted">
                         An integrated weekly plan and your best assistant
                      </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="/images/homepage/month.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                      <h4>Monthly Plan</h4>
                      <p class="text-muted">
                        Plan ahead, and you can manage your life better
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>
 
    <!-- Moment Section -->
    <section id="moments">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h2 class="section-heading" style="color: #dc4937">Moments</h2>
                    <h3 class="section-subheading text-muted">Share your experience and life moments!</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="instagram-content">
                        <div class="row photos-wrap">
                        <!-- Instafeed target div 
                        <div id="instafeed"></div> -->
                        <!-- The following HTML will be our template inside instafeed -->
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/7.jpg">
                                       
                                    </div>
                                    <div class="description">
                                        The most relaxing holiday ever!!! #beach #bbf
                                        <div class="date">October 24, 2016</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/6.jpg">
                                      
                                    </div>
                                    <div class="description">
                                        My dearest sister and brother xdxd #family
                                    <div class="date">January 12, 2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/3.jpg">
                                      
                                    </div>
                                    <div class="description">
                                        Fight for the project!!! #faithInMyself
                                    <div class="date">April 12, 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        <br>
        <div class="row">
                <div class="col-xs-12">
                    <div class="instagram-content">
                        <div class="row photos-wrap">
                        <!-- Instafeed target div 
                        <div id="instafeed"></div> -->
                        <!-- The following HTML will be our template inside instafeed -->
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/1.jpg">
                                        
                                    </div>
                                    <div class="description">
                                        Always embrace the sunshine:P #enjoy #life
                                        <div class="date">September 16, 2014</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/2.jpg">
                                        
                                    </div>
                                    <div class="description">
                                        Looking forward to the journey sooooo much:O
                                    <div class="date">February 27, 2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="photo-box">
                                    <div class="image-wrap">
                                        <img src="/images/homepage/5.jpg">
                                        
                                    </div>
                                    <div class="description">
                                        Finally I've tried diving!!! #beautifulSea
                                    <div class="date">May 16, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
       
    </section>

    <hr>


            <%- include footer.ejs -%>

   
        <%- include backToTop.ejs -%>

    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
