<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <title>Past Activities - PlanIt</title>

	  <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Dosis:400,300,500,700" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <link href="/vendor/css/agency.min.css" rel="stylesheet">

    <!-- Script -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/past_activity.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<style>
body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-container{
  width:100%;
  height:600px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}
.img-container1{
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}

h1{
  color:GoldenRod;
  z-index:1;
  text-align:center;
  margin-right:auto;;
  margin-left: auto;
  margin-top: 15%;
  border:3px ;
  border-radius:15px;
  width:700px;
  letter-spacing: 3px;
  font-size: 10vw;
}

.header-image{
  position:absolute;
  z-index:-1;
  width:100%;
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 2;
    position: absolute;
    width: 0;
    height: 2260px;
    overflow-x: hidden;
    background: LightYellow;
    border: 2px;
    opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 15px;
    border: 5px;
}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 260px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 260px;
}

#sidebar-wrapper img{
	 width:33%; 
	 margin-top:15px; 
	 margin-left:33%;
	 margin-bottom: 20px;
}

#sidebar-wrapper span{
  display:table;
  margin:0 auto;
	font-size:20px;
	font-family: Comic Sans MS;
}

.parallel-nav{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
	padding-right: 0;
    list-style: none;
}

.parallel-nav li{
	display: inline;
}

.parallel-nav li a{
	padding-top: 20px;
  	padding-right: 10%;
  	padding-bottom: 20px;
  	padding-left: 10%;
}

.parallel-nav li a:hover{
	background: SandyBrown;
	border-radius: 10px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
	font-size: 1.17em;
	font-family: Verdana;
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    background: SandyBrown;
}

.sidebar-nav li a i{
	margin-right: 10px;
    padding-left: 0;
}

.btn{
	  background-color: white; 
    color: black; 
    border: 2px solid MediumAquaMarine;
}

.btn:hover {
    background-color: MediumAquaMarine;
    color: white;
}

.btn-past{
    background-color: MediumAquaMarine;
    color: white;
    border: 2px solid MediumAquaMarine;
}

.btn-past:hover{
    background-color: white; 
    color: black; 
    border: 2px solid MediumAquaMarine;
}

.intro-text {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
}


#page-content-wrapper h2{
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

#page-content-wrapper hr{
  width: 83%;
}


.img-full {
    min-width: 80%;
}


.img-border {
    float: none;
    margin: auto;
    border: #999999 solid 1px;
}

.past-activity img{
  max-width:100%;
}

.past-activity h4{
  color:SteelBlue;
}

footer {
  padding: 25px 0;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
	  color:orange;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}


.portfolio-box {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 25px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 35px;
  }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#logoutModal {
   margin-top:15%;
   margin-left:auto;
   margin-right:auto;
}

.modal-header{
  background-color: RoyalBlue;
}

.modal-header h4{
  font-size:20px;
  text-align: left;
  color: white;
}

#feedbackModal {
   margin-top:12%;
   margin-left:auto;
   margin-right:auto;
}

#feedbackModal .modal-body textarea{
  border-radius:6px;
  resize:none;
  padding:12px;
  border:2px solid DarkGrey;
}

textarea{
  resize:none;
}

.logo-container{
  width:130px;
  top:0;
  left:0;
}

body{
  background-image: url("/images/acc_mgnt/bg1.png");
}


#loadMoreActivity {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMoreActivity:hover {
    background-color: #fff;
    color: #33739E;
}

.more-activity a, .more-activity a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.more-activity a:hover {
    text-decoration: none;
}

hr{
  border-color:#d9d9d9;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.activity-info{
  background-color: white;
}


</style>

</head>
<body class="account-mgnt">
	<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/" style="color:#083a5b"><img src="/images/acc_mgnt/PlanIt_logo.jpg" class="logo-container" alt="PlanIt Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" style="color:#fca13f">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#explore" style="color:#f7ba34">Explore</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule" style="color:#487bb4">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="moments.html" style="color:#dc4937">Moments</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" style="color:#3cbc8d">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/account" title="My Account"><img src=<%= user.propic %> class="img-circle profile-margin" style="height:25px;width:25px" alt="Profile Icon"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <div class="header-container" id="accHeader">
        <div class="img-container1">
             <img class="header-image" src="/images/acc_mgnt/party.png" style="width: 100%" alt="Let's party!">
             <h1>Seize the Moment</h1>
       </div>
    </div>
  

  <!-- Content -->
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<img src=<%= user.propic %> class="img-circle" alt="profile_icon">
          <div>
        	   <span style="">Welcome, <strong><%= user.username %></strong>!</span>
          </div>
        	<ul class="parallel-nav">
            <li><a href="/users/account/profile" title="Settings"><i class="fa fa-cog fa-2x" style="color:LightSlateGray"></i></a></li>
            <li><a href="/users/account" title="Account Overview"><i class="fa fa-user fa-2x" style="color:RoyalBlue"></i></a></li>
            <li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-2x" style="color:Sienna"></i></a></li>
        	</ul> 
        	<hr>
            <ul class="sidebar-nav">
            	<li style="margin-left:10px">My Account</li>
                <li><a href="/users/account"><i class="fa fa-home fa-fw"></i> Account Overview</a></li>
                <li><a href="/users/account/profile"><i class="fa fa-pencil fa-fw"></i> Edit Profile and Settings</a></li>
                <li style="background-color: LightSkyBlue"><a href="/users/account/past_activities"><i class="fa fa-diamond fa-fw"></i> Past Activities</a></li>
                <!-- Future Dev
                <li><a href="#news"><i class="fa fa-bell fa-fw"></i> News</a></li>                
                <li><a href="settings.html"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                End Future Dev -->
                <li><a href="" data-toggle="modal" data-target="#feedbackModal"><i class="fa fa-heart fa-fw"></i> Send Feedback</a></li>
                <li><a href="" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        </div>

        <!-- Help and Feedback Modal -->
        <div class="modal fade" id="feedbackModal" role="dialog">
          <div class="modal-dialog modal-md">  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Send Feedback <i class="fa fa-send"></i></h4>
              </div>
              <div class="modal-body">
                  <form method="post">
                    <textarea type="text" cols="40" rows="5" style="width:100%" placeholder="Describe your issue or share your idea"></textarea>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn">Submit</button>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Logout Modal -->
        <div class="modal fade" id="logoutModal" role="dialog">
          <div class="modal-dialog modal-sm">  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Logout <i class="fa fa-lock"></i></h4>
              </div>
              <div class="modal-body">
                <i class="fa fa-question-circle"></i> Are you sure you want to log-off?
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn">Confirm</button>
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row"><br>
                    <div class="col-lg-12">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-10" style="padding-left:0;">
                        <a href="/users/account" class="btn" id="menu-toggle" style="padding-left: 30px;padding-right: 30px;"">Menu <span class="glyphicon glyphicon-chevron-right"></span></a>
                      </div>
                      <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
  
            <!-- Past activities -->
            <div class="container-fluid past-activity" id="myPastActivity">
                <div class="row">
                    <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">Past
                      <strong style="color:Plum">Activities</strong>
                      </h2>
                      <hr>
                    </div>
                </div>

                <!-- Activity One -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-6">
                    <a href="#" class="portfolio-box">
                        <img class="img-responsive" src="/images/acc_mgnt/activity1.jpeg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Music
                                </div>
                                <div class="project-name">
                                    Mayday Just Rock It 2017
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-lg-4 activity-info">
                    <h3>Mayday Just Rock It 2017</h3>
                    <h4>Hong Kong</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-past" href="#">View Activity <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Activity One -->

                <hr>

                <!-- Acitivity Two -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-6">
                    <a href="#" class="portfolio-box">
                        <img class="img-responsive" src="/images/acc_mgnt/activity2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cultural
                                </div>
                                <div class="project-name">
                                    UC GOAL Program
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <h3>UC GOAL Program</h3>
                    <h4>Sydney, Australia</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-past" href="#">View Activity <span class="glyphicon glyphicon-chevron-right"></span></a>
                 </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Activity Two -->

                <hr>

                <!-- Project Three -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-6">
                    <a href="#" class="portfolio-box">
                    <img class="img-responsive" src="/images/acc_mgnt/activity3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Food
                                </div>
                                <div class="project-name">
                                    French Food Festival
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <h3>French Food Festival</h3>
                    <h4>Hong Kong</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-past" href="#">View Activity <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Activity Three -->

                <hr>

                <!-- Activity Four -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-6">
                    <a href="#" class="portfolio-box">
                    <img class="img-responsive" src="/images/acc_mgnt/activity4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sports
                                </div>
                                <div class="project-name">
                                    Olympic Games
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <h3>Olympic Games</h3>
                    <h4>Tokyo, Japan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-past" href="#">View Activity <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Activity Four -->

                <hr>

                <!-- Actiivity Five -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-6">
                    <a href="#" class="portfolio-box">
                    <img class="img-responsive" src="/images/acc_mgnt/activity5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Sports
                                </div>
                                <div class="project-name">
                                    Standard Chartered Marathon
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <h3>Standard Chartered Marathon</h3>
                    <h4>Hong Kong</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                    <a class="btn btn-past" href="#">View Activity <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Activity Five -->

                <hr>
                  
                <!-- Load More -->
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="more-activity">
                        <a href="#" id="loadMoreActivity">Load More</a>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <!-- End Load More -->

               <hr>
            </div>             



            <!-- Footer --> 
            <footer>
              <div class="container">
                <div class="row">
                    <div class="col-md-4">
                      <span class="copyright">Copyright &copy; PlanIt 2017</span>
                    </div>
                    <div class="col-md-4">
                      <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </footer>

        </div>
    <!-- /.container -->   


    <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
   <span class="glyphicon glyphicon-chevron-up"></span></a>




</body>
</html>