<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/pageBarLogo.png">

    <title>Sign Up - PlanIt</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Dosis:400,300,500,700" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700" rel='stylesheet' type='text/css'>


    <!-- Theme CSS -->
    <link href="/vendor/css/agency.min.css" rel="stylesheet">

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<style>
.btn{
    background-color: MediumAquaMarine;
    color: white;
    border: 2px solid MediumAquaMarine;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid MediumAquaMarine;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  padding-top:2%;
  padding-bottom: 0px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}


.container .info {
  margin: 4% auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 0px;
  padding: 0;
  font-size: 80px;
  font-weight: 500;
  color: DarkSlateGray;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  letter-spacing: 2px;
}
.container .info span {
  color: #4d4d4d;
  font-size: 18px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* END Form */
/* Demo Purposes */
html {
    height: 100%
}

body {
  background-image:url("/images/register/register_bg.jpg");
  background-repeat:no-repeat;
  background-size:1500px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
body:before {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.nav li{
  padding-right: 10px;
}

footer {
  left:0;
  position: relative;
  padding-top:2%;
  padding-bottom: 1%;
  text-align: center;
  width:100%;
}

footer span.copyright {
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
  color:CadetBlue;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
}


ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

ul.list-inline li a{
    color:white;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.nav li a{
  color:white;
}

.nav li a:hover{
  color:black;
}

.form {
  position: relative;
  z-index: 1;
  background: white;
  opacity: 0.9;
  max-width: 100%;
  margin: 0 auto 20px;
  padding: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  border-radius: 12px;
}

.home{
  background-color: white;
  color:black !important;
}

.alert-danger{
  padding:10px;
  border-radius: 8px;
}

</style>
</head>

<body>
<div class="container">
  <ul class="nav nav-pills navbar">
    <li ><a class="home" href="/">Home</a></li>
    <li ><a href="/users/login" class="text">Login</a></li>
    <li ><a href="#" class="text">Contact</a></li>
  </ul>
  <div class="info">
    <h1>Welcome Aboard</h1>
  </div>
</div>



<div class="container" style="padding-top: 0">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form" class="form" method="post" action="/users/register">
      <h2 style="color:MediumAquaMarine; text-align:left;">Sign Up <small style="color:Gold; font-size: 15px"> Start your journey with <i class="fa fa-heart" style="color:red"></i> PlanIt</small></h2>
      <hr class="colorgraph">
      <!-- Selection for Individual / Host
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <input type="text" name="username" id="register-username" class="form-control input-lg" placeholder="Userame" tabindex="3">
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="form-group">
            <select id="new-pricacy" name="privacy"  class="form-control input-lg">
              <option value="individual">Individual User</option>
              <option value="host">Host User</option>
            </select>
          </div>
        </div>
      </div>
      End Selection -->
      <div class="form-group">
        <input type="text" name="username" id="register-username" class="form-control input-lg" placeholder="Userame" tabindex="3">
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
          </div>
        </div>

      </div>
      <!-- For alert
      <div class = "alert-danger">
          <strong>Invalid username!</strong> Please try again!
      </div>
    -->
    <% if (errors) { %>
    <% for(var i=0; i<errors.length; i++) { %>
      <div class = "alert-danger">
          <strong><%= errors[i].msg%></strong> Please try again!
      </div>
    <% }} %>


      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6"></div>
        <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
      </div>
    </form>
  </div>
</div>



<%- include footer.ejs -%>


</body>
</html>
