<% if(isLogin) { %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/" style="color:#487bb4">Home</a></li>
        <li><a href="/explore" id="back_explore" style="color:#8c8c8c">Explore</a></li>
        <li><a href="/explore/search" style="color:#487bb4">Search</a></li>
        <li><a href="/explore/music" style="color:#8c8c8c">Music</a><li>
        <li><a href="/explore/sports" style="color:#487bb4">Sports</a><li>
        <li><a href="/explore/tech" style="color:#8c8c8c">Tech</a></li>
        <li><a href="/explore/culture" style="color:#487bb4">Culture</a><li>
        <li><a href="/explore/movies" style="color:#8c8c8c">Movies</a><li>
        <li style="background-color:LightYellow;" ><a href="/explore/other" style="color:#487bb4">Others</a></li>
        <li><a href="/explore/recommendation" style="color:#8c8c8c">Surprise</a><li>        
        <li><a class="page-scroll" href="/users/account" title="My Account"><img src=<%= user.propic %> class="img-circle profile-margin" style="height:22px;width:22px" alt="Profile Icon"></a></li>
      </ul>
      <!-- navbar-left will move the search to the left -->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control navbar-search" id="search_text" placeholder="Search">
        </div>
        <button id="search_button" class="btn btn-navBar" type="reset">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->

    <% } else { %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/" style="color:#487bb4">Home</a></li>
        <li><a href="/explore" id="back_explore" style="color:#8c8c8c">Explore</a></li>
        <li><a href="/explore/search" style="color:#487bb4">Search</a></li>
        <li><a href="/explore/music" style="color:#8c8c8c">Music</a><li>
        <li><a href="/explore/sports" style="color:#487bb4">Sports</a><li>
        <li><a href="/explore/tech" style="color:#8c8c8c">Tech</a></li>
        <li><a href="/explore/culture" style="color:#487bb4">Culture</a><li>
        <li><a href="/explore/movies" style="color:#8c8c8c">Movies</a><li>
        <li style="background-color:LightYellow;"><a href="/explore/other" style="color:#487bb4">Others</a></li>
        <li><a href="/explore/recommendation" style="color:#8c8c8c">Surprise</a><li>        
      </ul>
      <!-- navbar-left will move the search to the left -->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control navbar-search" id="search_text" placeholder="Search" value="">
        </div>
        <button id="search_button" class="btn btn-navBar" type="reset">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
    <% } %>    